#root, body, html {
    height: 100%;
    margin: 0;
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./assets/98cda881-2b19-45b4-9baa-6e560b760a8d.png);
    background-size: cover;
}